body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.weatherbox {
  opacity: 0.9;
  color: white;
  font-weight: bolder;
  font-weight: bolder;
  padding: 2em;
  border-radius: 40px;
  width: 100%;
  max-width: 320px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
}

input {
  border: none;
  outline: none;
  padding: 0.5em;
  border-radius: 20em;
  background: #fdfdfd;
  color: rgb(10, 1, 1);
  font-family: inherit;
  height: 25px;
  width: 350px;
  font-size: 100%;
}

button {
  margin: 0.5em;
  border: none;
  height: 3em;
  border-radius: 2em;
  background: rgb(192, 187, 187);
}

button:hover {
  background: #070707d0;
  color: aliceblue;
}
